{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <h1 class="fw-bold my-5 text-center">Connexion</h1>

    <form method="post" class="w-25 m-auto d-flex flex-column gap-4 border rounded p-4">
        {% if error %}
            <div class="alert alert-danger mt-3">Identifiants invalides</div>
        {% endif %}

        <div>
            <label for="inputEmail" class="mb-1">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>    
        </div>
        <div>
            <label for="inputPassword" class="mb-1">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div>
            <label>
                <input type="checkbox" name="_remember_me" checked>
                    Se souvenir de moi
            </label>
        </div>

        <button class="btn btn-lg btn-primary" type="submit">
            Se connecter
        </button>

    </form>
{% endblock %}
